* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

section {
  margin: 100px 0;
}

.gap-2 {
  gap: 25px;
}

.text-center {
  text-align: center;
  max-width: 680px;
  margin: auto;
}

.flex {
  display: flex;

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-center {
    align-items: center;
    justify-content: center;
  }
}

h1 {
  font-size: 38px;
  margin-bottom: 18px;
}

h2 {
  font-size: 32px;
  margin-bottom: 18px;
}

.hero {
  position: relative;
  height: 65vh;
  overflow: hidden;

  &-content {
    max-width: 400px;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);

    h2 {
      margin-bottom: 18px;
      font-size: 38px;
    }

    h2,
    p {
      text-shadow: 4px 4px 7px #4e4e4e;
    }
  }
}




.special-dishes {
  &-content {
    max-width: 400px;
    margin: auto;
  }

  &-list {
    li {
      width: 22%; // reduced from 25% to make it smaller
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px; // optional for a nice look
      }

      h2 {
        font-size: 20px; // smaller heading for li
        margin-top: 8px;
      }
    }
  }
}

.dishes-menu {
  margin: 80px 0;

  ul {
    justify-content: center;
  }
}
.special-dishes-list{
    margin-top: 50px;
}

.filtered-dishes{
  ul{display: flex;
    flex-wrap: wrap;
    margin-top:30px;
  }
  li{
    background-color: #ffb902;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all ease 0.3s;

    &.active{
      background-color: black;
    }
    &:hover{
      background-color: black;
    }

  }
}

.loader{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  h2{
    color: white ;
  }
}

.filtereddishesItem{
  li {
      width: 22%; // reduced from 25% to make it smaller
      text-align: center;
      list-style: none;
      background-color:white;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px; // optional for a nice look
      }

      h2 {
        font-size: 20px; // smaller heading for li
        margin-top: 8px;
      }
    }
  
}

.alert{
  border: 2px solid #ff4848;
  border-radius: 10px;
  height: 20vh;
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  w

  h3{
    color: red;
    margin: 0 0 10px 0;
  }

  h4{
    margin: 0;
  }
}

.pagination{
  justify-content: center;
  margin: 50px 0 0;
  ul li{
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    margin: 0 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    transition:all ease 0.3s


  }
}